---
language: ruby
sudo: false
bundler_args: --without development
rvm:
  - 2.0
  - 2.1
  - 2.2
  - 2.3
notifications:
  email: false
env:
  - PUPPET_GEM_VERSION="~> 3.7.0"
  - PUPPET_GEM_VERSION="~> 3.8.0"
  - PUPPET_GEM_VERSION="~> 4.1.0"
  - PUPPET_GEM_VERSION="~> 4.2.0"
  - PUPPET_GEM_VERSION="~> 4.3.0"
script:
  - puppet --version
  - puppet-lint --no-80chars-check --relative .
  - rake validate
matrix:
  exclude:
    - rvm: 2.2
      env: PUPPET_GEM_VERSION="~> 3.7.0"
    - rvm: 2.2
      env: PUPPET_GEM_VERSION="~> 3.8.0"
    - rvm: 2.3
      env: PUPPET_GEM_VERSION="~> 3.7.0"
    - rvm: 2.3
      env: PUPPET_GEM_VERSION="~> 3.8.0"
